data
tmp*
*.hdf5
*.mat
*.pyc
*.pdf
*.txt
*.pileup
*.xlsx
*.jpg
*.png

*.bam
*.pileup
*.dc
Thumbs.db
*.eps
.DS_Store
*.vcf
doc/bioinformatics2013/manuscript-formatted.synctex.gz(busy)
doc/bioinformatics2013/RVD2.aux
doc/bioinformatics2013/RVD2.log
doc/bioinformatics2013/RVD2.synctex.gz
doc/bioinformatics2013/manuscript-formatted.aux
doc/bioinformatics2013/manuscript-formatted.log
