data
tmp*
*.hdf5
*.mat
*.pyc
*.pdf
*.txt
*.pileup
*.xlsx
*.jpg


results/2013-03-19 Test MS High Burden/depth_chart/lane5_NoIndex_L005_R1.dc
results/2013-03-19 Test MS High Burden/depth_chart
results/2013-03-29 MS High Burden rvd27/depth_chart
